<app-header
  (onMenuIconClick)="onMenuIconClick()"
  [userInitials]="userInfo.initials"
  [userName]="userInfo.name"
></app-header>

<section class="sidenav-wrapper">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened [mode]="'side'" fixedTopGap="80">
      <mat-nav-list class="nav-list" [style.width.px]="openSideNav ? 150 : 100">
        <div
          class="list-wrapper"
          [style.width.px]="openSideNav ? 110 : 25"
          *ngFor="let item of menuItemList"
        >
          <img [src]="item.icon" [alt]="'Click to navigate to ' + item.name" />
          <span class="name" *ngIf="openSideNav">{{ item.name }}</span>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-reports-header
        [navOpened]="openSideNav"
        (onGenerateReportClick)="requestReport($event)"
      ></app-reports-header>
      <ng-container *ngIf="hasResults; else noResults">
        <app-reports-table
          [navOpened]="openSideNav"
          [reportData]="reportData"
        ></app-reports-table>
      </ng-container>
      <ng-template #noResults>
        <app-no-results
          [navOpened]="openSideNav"
          [title]="noResultsContent.title!"
          [description]="noResultsContent.description!"
          [imagePath]="noResultsContent.imagePath!"
        ></app-no-results>
      </ng-template>
      <app-footer [navOpened]="openSideNav"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
