section.reports-header {
  margin: 35px 25px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    margin-right: 100px;
  }

  .title {
    font-weight: 700;
    font-size: 24px;
    color: #011f4b;
    margin-bottom: 4px;
  }

  .subtitle {
    font-weight: 700;
    font-size: 16px;
    color: #7e8299;
  }

  .form-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .icon {
    color: #ffffff;
  }

  mat-select.dropdown {
    background-color: #1bc5bd;
    border-radius: 5px;
    padding: 8px 13px;
    font-weight: 400;
    font-size: 14px;
    width: 110px;
    height: 20px;
  }

  mat-form-field.mat-form-field {
    background-color: #1bc5bd;
    border-radius: 5px;
    height: 36px;
    width: 118px;
  }

  .submit-button {
    background-color: #005b96;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
  }
}

:host ::ng-deep {
  .mat-select-value {
    color: #ffffff;
  }

  .mat-select-arrow {
    color: #ffffff;
    border-top: 10px solid;
  }

  .mat-select-panel {
    background: #1bc5bd;
  }

  .mat-form-field-underline,
  .mat-form-field-subscript-wrapper {
    display: none;
  }

  .mat-form-field-flex {
    align-items: center;
    padding: 4px 12px;
  }

  .mat-form-field-infix {
    border: none;
    width: 100%;
    color: #ffffff;
    text-align: center;
  }

  .mat-form-field-label {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }

  .mat-input-element:disabled {
    color: #ffffff;
  }
}
